* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fraunces', serif;
}

.attribution { 
    font-size: 11px; text-align: center; 
    position: absolute;
    bottom: 0;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart {
    width: 600px;
    display: flex;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    overflow: hidden;
}

.cart__title {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}

.cart__img {
    width: 50%;
    height: 100%;
}

.cart__content {
    width: 50%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cart__description {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.cart__price--discounted-price {
    color: hsl(158, 36%, 37%);
    font-size: 25px;
    font-weight: 600;
    margin-right: 10px;
}

.cart__price--first-price {
    font-size: 12px;
    font-weight: 400;
    text-decoration: line-through;
    font-family: 'Montserrat', sans-serif;
}

picture {
    width: 100%;
    height: 100%;
}

button {
    background-color: hsl(158, 36%, 37%);
    height: 40px;
    border-radius: 5px;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media(max-width:600px) {
    body{
        height: min-content;
    }
    .cart{
        width: 375px;
        flex-direction: column;
    }
    .cart__img {
        width: 100%;
    }
    .cart__content {
        width: 100%;
        gap: 20px;
    }
}
